@import "tailwindcss";
@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: oklch(var(--background));
  --color-foreground: oklch(var(--foreground));

  --color-card: oklch(var(--card));
  --color-card-foreground: oklch(var(--card-foreground));

  --color-popover: oklch(var(--popover));
  --color-popover-foreground: oklch(var(--popover-foreground));

  --color-primary: oklch(var(--primary));
  --color-primary-foreground: oklch(var(--primary-foreground));

  --color-secondary: oklch(var(--secondary));
  --color-secondary-foreground: oklch(var(--secondary-foreground));

  --color-muted: oklch(var(--muted));
  --color-muted-foreground: oklch(var(--muted-foreground));

  --color-accent: oklch(var(--accent));
  --color-accent-foreground: oklch(var(--accent-foreground));

  --color-destructive: oklch(var(--destructive));
  --color-destructive-foreground: oklch(var(--destructive-foreground));

  --color-border: oklch(var(--border));
  --color-input: oklch(var(--input));
  --color-ring: oklch(var(--ring));

  --color-chart-1: oklch(var(--chart-1));
  --color-chart-2: oklch(var(--chart-2));
  --color-chart-3: oklch(var(--chart-3));
  --color-chart-4: oklch(var(--chart-4));
  --color-chart-5: oklch(var(--chart-5));

  --color-sidebar: oklch(var(--sidebar));
  --color-sidebar-foreground: oklch(var(--sidebar-foreground));
  --color-sidebar-primary: oklch(var(--sidebar-primary));
  --color-sidebar-primary-foreground: oklch(var(--sidebar-primary-foreground));
  --color-sidebar-accent: oklch(var(--sidebar-accent));
  --color-sidebar-accent-foreground: oklch(var(--sidebar-accent-foreground));
  --color-sidebar-border: oklch(var(--sidebar-border));
  --color-sidebar-ring: oklch(var(--sidebar-ring));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border, currentColor);
    /* border-color: var(--color-gray-200, currentColor); */
  }
}

@utility text-balance {
  text-wrap: balance;
}

@layer utilities {
  body {
    color: oklch(var(--foreground));
    background: oklch(var(--background));
  }
}

@layer base {
  :root {
    --background: 1 0 0;
    --foreground: 0.1371 0.036 258.5258;
    --card: 1 0 0;
    --card-foreground: 0.1371 0.036 258.5258;
    --popover: 1 0 0;
    --popover-foreground: 0.1371 0.036 258.5258;
    --primary: 0.2079 0.0399 265.7275;
    --primary-foreground: 0.9838 0.0035 247.8583;
    --secondary: 0.9684 0.0068 247.8951;
    --secondary-foreground: 0.2079 0.0399 265.7275;
    --muted: 0.9684 0.0068 247.8951;
    --muted-foreground: 0.5547 0.0407 257.4404;
    --accent: 0.9684 0.0068 247.8951;
    --accent-foreground: 0.2079 0.0399 265.7275;
    --destructive: 0.6368 0.2078 25.3259;
    --destructive-foreground: 0.9838 0.0035 247.8583;
    --border: 0.929 0.0126 255.5317;
    --input: 0.929 0.0126 255.5317;
    --ring: 0.1371 0.036 258.5258;
    --chart-1: 0.6989 0.1253 177.1775;
    --chart-2: 0.5035 0.1877 19.8565;
    --chart-3: 0.6984 0.1377 96.4568;
    --chart-4: 0.3765 0.2276 268.2657;
    --chart-5: 0.5146 0.2312 319.7948;
    --sidebar: 0.9848 0 0;
    --sidebar-foreground: 0.1371 0.036 258.5258;
    --sidebar-primary: 0.2451 0.0519 265.4823;
    --sidebar-primary-foreground: 0.9838 0.0035 247.8583;
    --sidebar-accent: 0.9359 0.0139 247.976;
    --sidebar-accent-foreground: 0.2079 0.0399 265.7275;
    --sidebar-border: 0.8788 0.0217 255.5766;
    --sidebar-ring: 0.1765 0.0579 262.4011;
    --font-sans: "Inter", sans-serif;
    --font-serif: "Lora", serif;
    --font-mono: "Fira Code", monospace;
    --radius: 0.5rem;
    --shadow-x: 0;
    --shadow-y: 0;
    --shadow-blur: 0;
    --shadow-spread: 0;
    --shadow-opacity: 0;
    --shadow-color: 0 0 0;
    --shadow-2xs: 0 0 0 0 hsl(0 0 0 / 0);
    --shadow-xs: 0 0 0 0 hsl(0 0 0 / 0);
    --shadow-sm: 0 0 0 0 hsl(0 0 0 / 0), 0 1px 2px -1px hsl(0 0 0 / 0);
    --shadow: 0 0 0 0 hsl(0 0 0 / 0), 0 1px 2px -1px hsl(0 0 0 / 0);
    --shadow-md: 0 0 0 0 hsl(0 0 0 / 0), 0 2px 4px -1px hsl(0 0 0 / 0);
    --shadow-lg: 0 0 0 0 hsl(0 0 0 / 0), 0 4px 6px -1px hsl(0 0 0 / 0);
    --shadow-xl: 0 0 0 0 hsl(0 0 0 / 0), 0 8px 10px -1px hsl(0 0 0 / 0);
    --shadow-2xl: 0 0 0 0 hsl(0 0 0 / 0);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
  }

  .dark {
    --background: 0 0 0;
    --foreground: 0.9843 0.0017 247.8393;
    --card: 0.1402 0.0202 135.1682;
    --card-foreground: 0.9843 0.0017 247.8393;
    --popover: 0.1771 0.0079 264.3504;
    --popover-foreground: 0.9843 0.0017 247.8393;
    --primary: 0.5641 0.1853 141.0292;
    --primary-foreground: 0.1546 0.0058 264.3896;
    --secondary: 0.8496 0.1731 88.9941;
    --secondary-foreground: 0.1546 0.0058 264.3896;
    --muted: 0.2621 0.0192 256.8183;
    --muted-foreground: 0.71 0.0348 256.7872;
    --accent: 0.1316 0.0041 17.6865;
    --accent-foreground: 0.9843 0.0017 247.8393;
    --destructive: 0.6368 0.2078 25.3259;
    --destructive-foreground: 0.9843 0.0017 247.8393;
    --border: 0.1978 0.011 151.1383;
    --input: 0.1758 0.0119 139.4323;
    --ring: 0.567 0.1419 153.3532;
    --chart-1: 0.567 0.1419 153.3532;
    --chart-2: 0.8153 0.1652 85.6698;
    --chart-3: 0.5424 0.1832 278.3778;
    --chart-4: 0.653 0.2569 328.0325;
    --chart-5: 0.7319 0.1226 215.5502;
    --sidebar: 0.1546 0.0058 264.3896;
    --sidebar-foreground: 0.9843 0.0017 247.8393;
    --sidebar-primary: 0.567 0.1419 153.3532;
    --sidebar-primary-foreground: 0.1546 0.0058 264.3896;
    --sidebar-accent: 0.3115 0.0245 256.8236;
    --sidebar-accent-foreground: 0.9843 0.0017 247.8393;
    --sidebar-border: 0.4935 0.0436 256.8326;
    --sidebar-ring: 0.567 0.1419 153.3532;
    --font-sans: "Inter", sans-serif;
    --font-serif: "Lora", serif;
    --font-mono: "Fira Code", monospace;
    --radius: 0.5rem;
    --shadow-x: 0;
    --shadow-y: 0.2rem;
    --shadow-blur: 0.8rem;
    --shadow-spread: -0.2rem;
    --shadow-opacity: 0.4;
    --shadow-color: 0 0 0;
    --shadow-2xs: 0 0.2rem 0.8rem -0.2rem hsl(0 0 0 / 0.2);
    --shadow-xs: 0 0.2rem 0.8rem -0.2rem hsl(0 0 0 / 0.2);
    --shadow-sm: 0 0.2rem 0.8rem -0.2rem hsl(0 0 0 / 0.4),
      0 1px 2px -1.2px hsl(0 0 0 / 0.4);
    --shadow: 0 0.2rem 0.8rem -0.2rem hsl(0 0 0 / 0.4),
      0 1px 2px -1.2px hsl(0 0 0 / 0.4);
    --shadow-md: 0 0.2rem 0.8rem -0.2rem hsl(0 0 0 / 0.4),
      0 2px 4px -1.2px hsl(0 0 0 / 0.4);
    --shadow-lg: 0 0.2rem 0.8rem -0.2rem hsl(0 0 0 / 0.4),
      0 4px 6px -1.2px hsl(0 0 0 / 0.4);
    --shadow-xl: 0 0.2rem 0.8rem -0.2rem hsl(0 0 0 / 0.4),
      0 8px 10px -1.2px hsl(0 0 0 / 0.4);
    --shadow-2xl: 0 0.2rem 0.8rem -0.2rem hsl(0 0 0 / 1);
  }

  @layer components {
    .kanji-svg-container {
      svg {
        width: 80px !important;
        height: 80px !important;
      }
      svg path[id] {
        fill: oklch(var(--accent)) !important;
      }
      svg path[clip-path] {
        stroke: oklch(var(--foreground)) !important;
      }
    }
  }
}
